@import "tailwindcss";
@import url('https://fonts.googleapis.com');

@font-face {
  font-family: 'adorable';
  src: url('/fonts/Adorable.woff') format('woff'); /* Assurez-vous du chemin du fichier */
  font-weight: normal;
  font-style: normal;
}
